{% extends 'core_layout.html' %}
{% load static %}

{% block title %}Autodidacticism Articles{% endblock title %}

{% block head  %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/homepage_layout.css' %}">
{% endblock head %}

{% block body %}
<div class="blog_homepage">

	<div class="articles_intro">
	<h1>Autodidacticism Articles</h1>	

	<p class="intro_paragraph">Autodidacticism is a very basic site where I can upload articles and papers that I write about topics that I find relevant and interesting. I also uses the site to upload and store white papers and research papers I find relevant to said topics as pdfs. All of the articles on
	the site are authored by myself. I may add an about me page if it becomes necessary (this site is mainly for my personal use). All of the articles can be found from the <a href="{% url 'blog_homepage' %}">current page</a> and all pdfs, mine or otherwise, can be found on the <a href="{% url 'blog_homepage' %}">Articles tab</a>. Add link to specific article about the site.</p>

	<u><h2>Article Topics</h2></u>
	<p class="intro_paragraph">Articles are mainly sorted based on topic. The links below return articles only for their specific topic. Individual articles can be searched for via the search bar:</p>

	<div class="topic_lst">
		<b><a href="#">FinTech & Investing</a></b>
		<b><a href="#">Machine Learning</a></b>
		<b><a href="#">Computational Biology</a></b>	
	</div>

	<form class="article_search_form">
		<input type="text" name="search_keywords" placeholder="Search for Article">
	</form>

</div>

<div class="article_main_body">
	
	{# Example placeholder data: #}
	<a class="article_thumbnail" href="#">

		<div id="block_container">

			<h2 id=title_block>An Example of An Article Title that Should Be Correctly Formatted</h2>
			<div id="date_block">Uploaded on: <b>dd/mm/yyyy</b></div>

		</div>

		<p id="thumbnail_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	</a>

</div>	

</div>

{% endblock body %}