{% extends 'core_layout.html' %}
{% load markdownify %}
{% load static %}

{% block title %}{{article.article_title}}{% endblock title %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/individual_article_styling.css' %}">
{% endblock head %}

{% block body %}

<dir id="article_post">

	{# Conditional that renders content based on article file type #}
	
	{% if filetype == 'html' %}
		{{article.get_markdown_text | safe}}
	{% endif %}
	
	{% if filetype == 'markdown' %}
		{{article.get_markdown_text | markdownify}}
	{% endif %}

</dir>

{% endblock body %}